<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #myform {
            display: none;
        }
    </style>
</head>
<body>
    <h3 style="text-align: center;">You will be redirected to the esewa website..</h3>
    <form action="https://uat.esewa.com.np/epay/main" method="POST" id="myform">
        <input type="hidden" name="tAmt" value="{{ total }}">
        <input type="hidden" name="amt" value="{{ total }}">
        <input type="hidden" name="txAmt" value="0">
        <input type="hidden" name="psc" value="0">
        <input type="hidden" name="pdc" value="0">
        <input type="hidden" name="scd" value="EPAYTEST">
        <input type="hidden" name="pid" value="{{ uid }}_{{oid}}">
        <input type="hidden" name="su" value="http://localhost:8000/esewa-verify">
        <input type="hidden" name="fu" value="http://localhost:8000/paymentfailed/">
        <button type="submit">Submit</button>
    </form>


    <script>
        setTimeout(function () {
            document.getElementById("myform").submit()
        }, 500)

    </script>
</body>

</html>
