{% extends 'app/base.html' %}
{% load static %}
{% block title %} Reset Password  Done {% endblock title %}
{% block main-content %}
<style>
    .thumbnail{
  border-radius: 1rem;
  }
  .card {
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
  }
  </style>
<div class="card container my-5">
 <div class="thumbnail  row my-3">
  <div class=" card thumbnail col-sm-6 offset-sm-3">
   <h4  class="card thumbnail text-white text-center alert-heading" style="background-color: #343a40;">Well done!</h4>
   <p class="thumbnail">An Email has been sent with instructions to reset your password. <b>Check your Email</b></p>
  
  </div>
 </div>
</div>
{% endblock main-content %}