{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password Done {% endblock title %}
{% block main-content %}
<style>
  .thumbnail{
border-radius: 1rem;
}
.card {
border-radius: 1rem;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
}
</style>
<div class=" card container my-5">
 <div class="thumbnail row ">
 <h3 class="card thumbnail text-white text-center" style="background-color: #343a40;">Welcome {{request.user}}</h3>
  <div class="card thumbnail col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="thumbnail btn btn-primary">Change Password done </a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    <h3>Password Change Successfully !!</h3>
    <div><iframe src="https://giphy.com/embed/ibo1Le3mOqHE3PQTtk" class="card thumbnail" width="200" height="200" iframeborder="0" class="giphy-embed" allowFullScreen></iframe></div>
  </div>
</div>
</div>
{% endblock main-content %}