{% extends 'app/base.html' %}
{% load static %}
{% block title %} Reset Password {% endblock title %}
{% block main-content %}
<style>
  .thumbnail{
border-radius: 1rem;
}
.card {
border-radius: 1rem;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
}
</style>

<div class=" card container my-5">
 <div class="thumbnail row my-3">
  <div class="card thumbnail col-sm-6 offset-sm-3">
    <h3 class="card thumbnail text-white text-center" style="background-color: #343a40;">Reset Password</h3>
    <hr>
    <form action="" method="post" novalidate class="shadow p-5">
      {% csrf_token %}
      {% for fm in form %}
         <div class=" form-group  mb-3">
              {{fm.label_tag}}  {{fm}}  <small class="text-danger">{{ fm.errors | striptags }}</small> <br>
         </div>
         {% endfor %}
      <input type="submit" value="Submit" class=" card thumbnail  btn btn-primary mt-4" style="color:black">
      {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
      {% endfor %}
      {% endif %}
    </form>
  </div>
 </div>
</div>
{% endblock main-content %}