{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}

{% block main-content %}

<div class="container my-5">
  <div class="card" style="border: 1px solid #ededed;">
  <div class="row ">
      <div class="col-sm-6  card-body  text-center align-self-center " >
        <a href="{% url 'product-detail' product.id %}" class="btn btn-link">
          <div class="item">
            <img class="thumbnail" src="{{ product.product_image.url }}" alt="{{ product.name }}"
              height="300px" width="300px">
          </div>
        </a>
      </div>
      <div class="col-sm-5 offset-sm-1 ">
        <h2 class="page_heading" style=" text-align: center; ">{{ product.title}}</h2>

        <hr>
        <p style="text-align: center;">{{product.description}}</p> <br>
        <h4 style="text-align: center;">Rs. {{product.discounted_price}} <br><small
            class="fw-light text-decoration-line-through" style="text-align: center;">{{product.selling_price}} </small>
        </h4> <br>

        {% if item_already_in_cart %}
        {% if request.user.is_authenticated %}
        <a href="{% url 'showcart' %}" class="btn btn-warning shadow px-5 py-2 ms-4">Go to Cart</a>
        {% else %}
        <form action="/add-to-cart/" class="d-inline">
          {% csrf_token %}
          <input type="hidden" name="prod_id" value="{{ product.id }}" id="prod_id">
          <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
        </form>
        {% endif %}
        {% else %}
        <form action="/add-to-cart/" class="d-inline">
          {% csrf_token %}
          <input type="hidden" name="prod_id" value="{{ product.id }}" id="prod_id">
          <button type="submit" class="btn btn-danger shadow px-5 py-2">Add to Cart</button>
        </form>
        {% endif %}

        <form action="/buy" class="d-inline">
          {% csrf_token %}
          <input type="hidden" name="prod_id" value="{{ product.id }}" id="prod_id">
          <button type="submit" class="btn btn-primary shadow px-5 py-2">Buy Now</button>
        </form>

        <h5 class="mt-5"
          style="color: white; text-align: center; background-color: #f17981; margin-top: 2rem; margin-bottom: 2rem; font-size: 1.25rem; font-weight: 350px; padding-block: 0.5rem;">
          Available Offers</h5>
        <ul>
          <li>Bank Offer 5% Unlimited Cashback on Bank Credit</li>
          <li>Special Price Get extra Rs 5000 off (price inclusive of discount)</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, labore!</li>
        </ul>
      </div>

       <hr>
      {% if item_already_in_rating %}
      <div class="review-content mt-4">
        <p class="star-rating">{{ rating.rating }} rating</p>
        <p class="fw-bold">{{ rating.user }}</p>
        <p>{{ rating.review }}</p>
      </div>
      <hr>
      {% else %}
      <form method="post" action="/product-detail/{{ product.id }}">
        {% csrf_token %}
        <div class="rating-form mt-4">
          <h4 class="mb-3"
            style="color: white; text-align: center; background-color: #f17981; margin-top: 2rem; margin-bottom: 2rem; font-size: 1.25rem; font-weight: 350px; padding-block: 0.5rem;">
            Submit Your Rating:</h4>

          {% if messages %}
          <div class="alert custom-success-alert alert-dismissible fade show" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}

          <div class="rating">
            {% for i in "12345" %}
            <input type="radio" name="rating" value="{{ i }}" id="rating{{ i }}">
            <label for="rating{{ i }}">{{ i }}</label>
            {% endfor %}
          </div>

          <div class="form-group mt-3">
            <label for="review" class="mb-3">Write a Review:</label>
            <textarea class="form-control" name="review" id="review" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-primary shadow px-5 py-2">
            {% if rating_exists %}Update Rating{% else %}Submit Rating{% endif %}
          </button>
        </div>
      </form>
      {% endif %}

      <div class="row mt-4">
        <div class="col-md-6">
          <div id="all-ratings" class="collapse show">
            <h4>All Ratings and Reviews:</h4>
            <div class="review-cards">
              {% for rating in all_ratings %}
              <div class="review-card mb-3">
                <div class="rating-stars">
                  {% for i in "12345" %}
                  {% if rating.rating|add:"" >= i %}
                  <span class="star-icon">&#9733;</span>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="review-content">
                  <p class="star-rating">{{ rating.rating }} rating</p>
                  <p class="fw-bold">{{ rating.user }}</p>
                  <p>{{ rating.review }}</p>
                  <hr>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
       <hr>
      <div class="container mt-5">
        <h2 class="page_heading text-center text-white bg-danger py-2">Related Products</h2>
        <div class="row"
          style="display: grid; grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr)); gap: 2rem;">
          {% for product in related_product %}
          <div class="col-md-12">
            <div class="card" style="border: 1px solid #ededed;">
              <div class="card-body text-center">
                <a href="{% url 'product-detail' product.id %}" class="btn btn-link">
                  <div class="item">
                    <h5 class="fw-bold text-uppercase">{{ product.name }}</h5>
                    <img class="thumbnail" src="{{ product.product_image.url }}" alt="{{ product.name }}" height="150px"
                      width="150px">
                    <div class="mt-3">
                      <span class="fw-bold">{{ product.title }}</span><br>
                      <span class="fs-5">Rs. {{ product.discounted_price }}</span>
                    </div>
                  </div>
                </a>
                <div class="d-flex justify-content-between mt-3">
                  <i class="fa fa-shopping-cart text-muted" style="cursor: pointer;"></i>
                  <a href="{% url 'product-detail' product.id %}" class="btn btn-primary"
                    style="background-color: rgb(236, 133, 133);">More Details</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}