{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search Page{% endblock title %}
{% block main-content %}

<style>
  .thumbnail {
    border-radius: 1rem;
  }
  .card {
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
  }
</style>
<div class="container">
  <h2 class="page_heading" style="color: white; text-align: center; background-color: #343a40; margin-top: 2rem; margin-bottom: 2rem; font-size: 1.25rem; font-weight: 350px; padding-block: 0.5rem;">Search Products : {{ query }}</h2>
  
  {% if products %}
    <div class="row" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr)); gap: 2rem;">
      {% for product in products %}
        <div class="col-md-4" style="width: 100%;">
          <div class="card" style="border: 1px solid #ededed;">
            <div class="card-body text-center">
              <a href="{% url 'product-detail' product.id %}" class="btn btn-link"></a>
              <div class="item">
                <h5 class="fw-bold text-uppercase">{{ product.name }}</h5>
                <img class="thumbnail" src="{{ product.product_image.url }}" alt="{{ product.name }}" height="150px" width="150px">
                <div class="mt-3">
                  <span class="fw-bold">{{ product.title }}</span><br>
                  <span class="fs-5">Rs. {{ product.discounted_price }}</span>
                  <span> <p class="star-rating mb-0 me-3" style="font-size: 18px;"> <!-- Adjust font-size as needed -->
                    <div class="rating-stars">
                      {% for i in "12345" %}
                        {%  if product.average_rating >= i|add:"0" %}
                          <span class="star-icon" style="font-size: 18px; color: #f5b301;">&#9733;</span> <!-- Filled star -->
                        {% else %}
                          <span class="star-icon" style="font-size: 18px; color: #ddd;">&#9734;</span> <!-- Empty star -->
                        {% endif %}
                      {% endfor %}
                    </div>
                   </p>
                 </span><br>
                </div>
              </div>
              <p class="card-text">
                {% if product.stock_status == 'In Stock' %}
                  <span class="text-success" style="font-size: average;">{{ product.stock_status }}</span>
                {% elif product.stock_status == 'Limited Stock' %}
                  <span class="text-warning" style="font-size: average;">{{ product.stock_status }}</span>
                {% else %}
                  <span class="text-danger" style="font-size: average;">{{ product.stock_status }}</span>
                {% endif %}
              </p>
              <div class="d-flex justify-content-between mt-3">
                <i class="fa fa-shopping-cart" style="color: gray; cursor: pointer;"></i>
                <a href="{% url 'product-detail' product.id %}" class="btn btn-primary" style="background-color: rgb(181, 76, 76);">More Details</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <h2>No search products available.</h2>
  {% endif %}

  {% if recommended_products %}
    <h2 class="page_heading" style="color: white; text-align: center; background-color: #343a40; margin-top: 2rem; margin-bottom: 2rem; font-size: 1.25rem; font-weight: 350px; padding-block: 0.5rem;">Recommended Products</h2>
    <div class="row" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr)); gap: 2rem;">
      {% for product in recommended_products %}
        <div class="col-md-4" style="width: 100%;">
          <div class="card" style="border: 1px solid #ededed;">
            <div class="card-body text-center">
              <a href="{% url 'product-detail' product.id %}" class="btn btn-link"></a>
              <div class="item">
                <h5 class="fw-bold text-uppercase">{{ product.name }}</h5>
                <img class="thumbnail" src="{{ product.product_image.url }}" alt="{{ product.name }}" height="150px" width="150px">
                <div class="mt-3">
                  <span class="fw-bold">{{ product.title }}</span><br>
                  <span class="fs-5">Rs. {{ product.discounted_price }}</span><br>
                  <span> <p class="star-rating mb-0 me-3" style="font-size: 18px;"> <!-- Adjust font-size as needed -->
                    <div class="rating-stars">
                      {% for i in "12345" %}
                        {%  if product.average_rating >= i|add:"0" %}
                          <span class="star-icon" style="font-size: 18px; color: #f5b301;">&#9733;</span> <!-- Filled star -->
                        {% else %}
                          <span class="star-icon" style="font-size: 18px; color: #ddd;">&#9734;</span> <!-- Empty star -->
                        {% endif %}
                      {% endfor %}
                    </div>
                   </p>
                 </span><br>
                </div>
              </div>
              <p class="card-text">
                {% if product.stock_status == 'In Stock' %}
                  <span class="text-success" style="font-size: average;">{{ product.stock_status }}</span>
                {% elif product.stock_status == 'Limited Stock' %}
                  <span class="text-warning" style="font-size: average;">{{ product.stock_status }}</span>
                {% else %}
                  <span class="text-danger" style="font-size: average;">{{ product.stock_status }}</span>
                {% endif %}
              </p>
              <div class="d-flex justify-content-between mt-3">
                <i class="fa fa-shopping-cart" style="color: gray; cursor: pointer;"></i>
                <a href="{% url 'product-detail' product.id %}" class="btn btn-primary" style="background-color: rgb(181, 76, 76);">More Details</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock main-content %}
