{% extends 'app/adminpages/adminbase.html' %}

{% block title %}All Orders {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 style="color: white; text-align: center; background-color:#343a40; margin-top: 2rem; margin-bottom: 2rem; font-size: 1.25rem; font-weight: 350px; padding-block: 0.5rem;">All Orders</h3><hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Order ID </th>
                        <th>Customer</th>
                        <th>Ordered On</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Address</th>
                        <th>Quantity</th>
                        <th>Mobile No.</th>
                        <th>Payment Method</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in order %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'adminorderdetail' order.id %}">#ORDER_{{order.id}}</a></td>
                        <td>{{order.user}}</td>
                        <td>{{order.ordered_date}}</td>
                        <td>{{order.total}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.address}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.mobile}}</td>
                        <td>{{order.payment_method}}</td>
            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <nav aria-label="...">
      <ul class="pagination">
          {% if order.has_previous %}
          <li class="page-item">
              <a class="page-link" href="?page={{ order.previous_page_number }}">Previous</a>
            </li>
          {% else %}
          <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          {% endif %}
  
          {% for i in order.paginator.page_range %}
          {% if i == order.number %}
          <li class="page-item active"><a class="page-link">{{i}}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
          {% endif %}
          {% endfor %}
  
          {% if order.has_next %}
          <li class="page-item">
              <a class="page-link" href="?page={{ order.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
          {% endif %}
      </ul>
    </nav>
  
</div>
{% endblock %}